/* layout */
footer {
    margin-top: 2em;
}

/* year headlines */
.year {
    border-bottom:dotted grey 1px;
    max-width: 750px;
}

.feed-links a {
    margin-right: 2em;
}

.year a {
    color:inherit;
}

/* Bookmarks */
.bookmark {
    margin-bottom:1.7em;
    max-width: 750px;
}

.bookmark .bookmark_title {
    line-height: 130%;
    font-size: 120%;
    text-decoration: none;
}

.bookmark a.bookmark_title:visited {
    color: #3773A5;
}

.bookmark .description {
    margin-top:2px;
}

.bookmark .tag {
    text-decoration: none;
    line-height: 190%;
}

.unread .bookmark_title:link {
    color:#b41 ;
}

.unread .bookmark_title:hover, .unread a.bookmark_title:visited {
    color:#6F2100 ;
}

.last_update {
    color:#aaa;
    font-style: italic;
    float:right;
    padding-top:5px;
    font-size:80%;
}
