<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>On this day - Pinboard.in</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

    <!-- Our own CSS -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css">
    
  </head>
  <body>
      <div class="container">
        {% block content %}{% endblock %}
        <footer>
            {% block footer %}
                <p>
                    <span class="copyright">&copy; Gabriel Birke {{ "now"|date("Y") }}</span>
                </p>
            {% endblock %}
        </footer>
    </div>


    <script src="{{ app.request.basepath }}/js/jquery.min.js"></script>

    {# Uncomment this when we have JS functionality
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    #}
  <script id="booststrap-fallback" data-basepath="{{ app.request.basepath }}">
      $(document).ready(function() {
          var bodyColor = $('body').css('color');
          if(bodyColor != 'rgb(51, 51, 51)') {
              var basepath = $('#booststrap-fallback').data('basepath');
              $("head").prepend('<link rel="stylesheet" href="' + basepath + '/css/bootstrap.min.css">');
              $("head").prepend('<link rel="stylesheet" href="' + basepath + '/css/bootstrap-theme.min.css">');
          }
      });
  </script>
  </body>
</html>