<div class="col-xs-2">
    <a href="{{ app.url_generator.generate("thisday", {"user":user, "date":prev_date|date("Y-m-d")}) }}">
        &lt;&lt; {{ prev_date|date("Y-m-d") }}
    </a>
</div>

{# Pagination for older items will be put here when it's implemented #}

{% if next_date is defined %}
    <div class="col-xs-2 col-xs-offset-5">
        <a href="{{ app.url_generator.generate("thisday", {"user":user, "date":next_date|date("Y-m-d")}) }}">
            {{ next_date|date("Y-m-d") }} &gt;&gt;
        </a>
    </div>
{% else %}
    <div class="xs-clearfix"></div>
{% endif %}