{% extends "base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>On this day, on your Pinboard.in</h1>
            {%  include "thisday_list.html.twig" %}
        </div>
    </div>
{% endblock %}

 {% block footer %}
     <p>
        <a href="{{ app.url_generator.generate("summary_feed", {"user":user}) }}"
         rel="alternate" type="application/atom+xml">Summary Feed</a>
     </p>
     <hr>
     {{  parent() }}
 {% endblock %}